server {
    listen 192.168.33.10:80;
    server_name node-project;

    location / {
        proxy_pass http://192.168.33.10:3000;
        proxy_set_header Host $host;
    }

    location ^~ /static/ {
        root /var/www/project;
    }
}
